body {
    background-color: lightskyblue;
}

.square {
    position: absolute;
    width:50px;
    height:50px;
    border: 10px solid black;
    background-color: blueviolet;
    transition: .8s;
    margin-left:50%;
    margin-top: 38vh;
    border-radius: 12px;
}

.score {
    width: 20px;
    height: 20px;
    border: 5px solid black;
    background-color: yellow;
    border-radius: 50%;
}

.container {
    width:100%;
    height:90vh;
    display:flex;
    flex-direction: row;
    position: relative;
}

.rot {
    animation: rotate .6s linear infinite;
}

@keyframes rotate {
    to{
        transform:rotate(360deg);
    }
}